html {
    font-family: sans-serif;
    color: #525252;
}
body {
    margin: 0;
}
a {
    text-decoration: none;
}
nav {
    margin: 0;
    width: 100%;
    height: 64px;
    position: fixed;
    background-color: #ffffff;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
}
nav img {
    display: inline;
}
nav h1 {
    font-size: 20px;
    display: inline;
}
nav h1 span {
    color: #b9b9b9;
    font-weight: normal;
}
.link {
    font-size: 16px;
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 16px;
}
.link a {
    padding: 0px 8px;
    color: #525252;
    text-decoration: none;
}
.start{
    position: relative;
    box-sizing: border-box;
    top: 64px;
    display: flex;
    background-color: #b9b9b9;
    width: 100%;
    padding: 32px 24px;
}
.start img {
    width: 60%;
}
.start .text {
    display: inline-flex;
    flex-direction: column;
    padding-left: 40px;
    justify-content: center;
}
.start .text h1 {
    font-size: 60px;
    font-weight: 750;
}
.start .text h4 {
    font-size: 32px;
}
.start .text a {
    text-align: center;
    background-color:#525252;
    color: #ffffff;
    font-size: 32px;
    padding: 8px 0px;
}
.practice {
    display: inline-flex;
    position: relative;
    width: 100%;
    top: 64px;
    border: solid 1px #b9b9b9;
}
.practice .img {
    width: 60%;
    padding: 32px 24px;
    border-right: solid 1px #b9b9b9;
}
.img img {
    width: 100%;
    margin: 0;
    padding: 0;
}
.img h1{
    font-size: 60px;
    font-weight: 750; 
}
.img p {
    font-size: 32px;
}
.img h4 {
    font-size: 32px;
    font-weight: 600;
}
.practice .info {
    display: inline-flex;
    flex-direction: column;
    width: 40%;
}
.info {
    padding-top: 16px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    background-color: #b9b9b9;
    border-top: solid 1px #000000;
    border-bottom: solid 1px #000000;
}
.info .sub {
    display: flex;
    padding: 16px;
    background-color: #ffffff;
}
#campus {
    background-color: #b9b9b9;
}
.sub img {
    width: 35%;
    margin: 0;
    padding-left: 16px;
}
.sub .text {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 65%;
    padding: 25px;
}
.sub .text h4 {
    font-size: 36px;
    margin: 0;
    padding: 4px 0;
}
.sub .text p {
    font-size: 25px;
    margin: 0;
    padding: 4px;
}
.sub .text a {
    font-size: 25px;
    color: #40a2db;
    margin: 0;
    padding: 4px 0;
}
.learn {
    position: relative;
    top: 64px;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #b9b9b9;
}
.learn h1 {
    width: 100%;
    text-align: center;
    margin: 32px;
    font-size: 60px;
    font-weight: 750;
}
.learn .sec {
    background-color: #ffffff;
    width: 25%;
    margin: 32px;
}
.sec img {
    width: 100%;
    height: auto;
    padding-bottom: 8px;
}
.sec h4 {
    font-size: 30px;
    margin: 10px;
    padding: 16px 0 4px 16px;
}
.sec span{
    padding: 4px 0 4px 16px;
    font-size: 20px;
    margin: 10px;
}
.sec p{
    padding: 4px 0 24px 16px;
    font-size: 25px;
    margin: 10px;
}
.exhibit {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    top: 64px;
}
.exhibit h1 {
    width: 100%;
    text-align: center;
    padding: 32px 0 8px 0;
}
.exhibit .vid {
    width: 60%;
    padding: 24px ;
    display: inline-flex;
    flex-direction: column;
}
.exhibit .min {
    display: inline-flex;
    flex-direction: column;
    width: 35%;
    padding: 0;
    margin: 0;
    align-items: flex-start;
    padding-top: 24px;
}
.min div {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
}
.min img {
    display: inline;
    width: 35%;
    padding: 24px;
    margin: 0;
}
.vid, .min {
  vertical-align: top;
}
#fisma {
    background-color: #b9b9b9;
}
.min .string {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
.string h4 {
    font-size: 30px;
    padding: 16px;
    margin: 0;
}
.string p{
    font-size: 20px;
    padding: 0 0 0 16px;
    margin: 0;
}
footer {
    position: relative;
    top: 64px;
}
footer span {
    padding: 20px;
}